<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kakakuh.c4ppl.kakakuh" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Default Activity -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/notitle"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Another Activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>

        <!-- Pesan Activity -->
        <activity
            android:name=".PesanKoordinatorActivity"
            android:label="@string/pesan"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kakakuh.c4ppl.kakakuh.MainActivity" />
        </activity>
        <activity
            android:name=".PesanBaruKoordinatorActivity"
            android:label="@string/kirim_pesan"
            android:parentActivityName=".PesanKoordinatorActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kakakuh.c4ppl.kakakuh.PesanKoordinatorActivity" />
        </activity>
        <activity
            android:name=".PesanKakakActivity"
            android:label="@string/pesan"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kakakuh.c4ppl.kakakuh.MainActivity" />
        </activity>
        <activity
            android:name=".PesanBaruKakakActivity"
            android:label="@string/kirim_pesan"
            android:parentActivityName=".PesanKakakActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kakakuh.c4ppl.kakakuh.PesanKakakActivity" />
        </activity>
        <activity
            android:name=".PesanAdikActivity"
            android:label="@string/pesan"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kakakuh.c4ppl.kakakuh.MainActivity" />
        </activity>

        <!-- Pengaturan Activity -->
        <activity
            android:name=".PengaturanUbahPasswordActivity"
            android:label="@string/title_activity_pengaturan_otentikasi"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kakakuh.c4ppl.kakakuh.MainActivity" />
        </activity>
        <activity
            android:name=".UbahProfilActivity"
            android:label="@string/title_activity_ubah_profil"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kakakuh.c4ppl.kakakuh.MainActivity" />
        </activity>
        <activity
            android:name=".PengaturanPesanActivity"
            android:label="@string/title_activity_pengaturan_pesan"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kakakuh.c4ppl.kakakuh.MainActivity" />
        </activity>
        <activity
            android:name=".PengaturanReminderActivity"
            android:label="@string/title_activity_pengaturan_reminder"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kakakuh.c4ppl.kakakuh.MainActivity" />
        </activity>
        <activity
            android:name=".PengaturanListActivity"
            android:label="@string/title_activity_pengaturan_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kakakuh.c4ppl.kakakuh.MainActivity" />
        </activity>
        <activity
            android:name=".PengaturanReviewLogActivity"
            android:label="@string/title_activity_pengaturan_review_log"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kakakuh.c4ppl.kakakuh.MainActivity" />
        </activity>
        <activity
            android:name=".DetailLogActivity"
            android:label="@string/title_activity_detail_log"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kakakuh.c4ppl.kakakuh.MainActivity" />
        </activity>
    </application>

</manifest>
